<!DOCTYPE html>
  <html lang=en>
  <meta charset=utf-8>
  <link rel=stylesheet href=style.css>
  <title>Step Wizard, HTML and CSS only</title>
  <meta name=description content="A simple Step Wizard, with arrows, made with terse HTML and CSS only">
  <meta name=viewport content="width=device-width, initial-scale=1.0, viewport-fit=cover">

  <nav>
    <a href='' class="done">
      <span>
        予約管理
      </span>
    </a>
    <!-- <a href='' class=>
      <span>
        Step 2<br>
        Step content
      </span>
    </a> -->
    <a href='' class="currentx">
      <span>
        予約管理
      </span>
    </a>
    <a href='' class="current">
      <span>
        予約管理
      </span>
    </a>
  </nav>