
.fc-col-header-cell{
   background-color: #ffffff !important;
}

.fc-col-header-cell-cushion{
   text-decoration: none !important;
   color: #212529;
}

.fc-col-header-cell {
   text-transform: uppercase;
   vertical-align:middle !important;
}

.fc-event{
   border-radius: 0 !important;
}

.fc-day-today {
   background-color: inherit !important;
}

.fc-event{
   font-size: 11px !important;
}